<html>
  <head>
    <title><%= title %> - Joe's Own Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Joe's Own Editor <%- description || title %>"></meta>
    <!-- inject:css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- /inject:css -->
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Joe's Own Editor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Navigation</span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://sourceforge.net/p/joe-editor" id="downloadsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
            <div class="dropdown-menu" aria-labelledby="downloadsDropdown">
              <a class="dropdown-item" href="<%= versions.info[versions.latestUnix].downloads.unix %>">JOE <%= versions.latestUnix %> source</a>
              <a class="dropdown-item" href="<%= versions.info[versions.latestWindows].downloads.windows %>">JOE for Windows <%= versions.latestUnix %></a>
              <a class="dropdown-item" href="<%= versions.info[versions.latestWindows].downloads['windows-src'] %>">JOE for Windows <%= versions.latestUnix %> source</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= versions.latestUnix %>/man.html">User Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hacking.html">Hacking Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news.html">Changelog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history.html">History</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://sourceforge.net/p/joe-editor" id="releasesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Releases</a>
            <div class="dropdown-menu" aria-labelledby="releasesDropdown">
<% versions.versions.forEach(function(v) { %>
              <a class="dropdown-item" href="/<%= v %>/"><%= v %></a>
<% }); %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://sourceforge.net/p/joe-editor" id="projectsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
            <div class="dropdown-menu" aria-labelledby="projectsDropdown">
              <a class="dropdown-item" href="https://sourceforge.net/p/joe-editor">Project at SourceForge</a>
              <a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/bugs/">Issues</a>
              <a class="dropdown-item" href="https://sourceforge.net/projects/joe-editor/files/">Downloads</a>
              <a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/news/">Announcements</a>
              <a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/discussion/">Discussion Page</a>
              <a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/mercurial/ci/default/tree/">Browse source</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
