<%- include('./header.ejs', {versions: versions, title: "User Manual", description: "Joe's Own Editor User Manual"}) -%>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Table of Contents</div>
        <div class="list-group">
          <% toc.forEach(section => { %>
            <a href="#<%= section.anchor %>" class="list-group-item"><%= section.text %></a>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <%- content -%>
    </div>
  </div>
</div>

<%- include('./footer.ejs') -%>
