<%- include('./header.ejs', {versions: versions, title: current, description: "Joe's Own Editor version " + current}) -%>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="display-4">JOE <%= current %></h1>
    </div>
    <div class="row">
<% if (versions.hasUnix(current)) { %>
      <p>&raquo; Released on <%= moment(versions.info[current].release.unix).format('DD MMM YYYY') %></p>
<% } else { %>
      <p>&raquo; Released on <%= moment(versions.info[current].release.windows).format('DD MMM YYYY') %></p>
<% } %>
    </div>
    <div class="row">
<% if (versions.hasUnix(current)) { %>
      <a class="btn btn-primary btn-lg m-2" href="<%= versions.info[current].downloads.unix %>">Download source</a>
<% } %>
<% if (versions.hasWindows(current)) { %>
      <a class="btn btn-primary btn-lg m-2" href="<%= versions.info[current].downloads.windows %>">Download Windows Installer</a>
<% } %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Documentation</h2>
      <p>&raquo; Refer to the <a href="INSTALL.html">installation instructions</a> when building from source.</p>
      <p>&raquo; Be sure to read the user manual for this version.</p>
      <p><a class="btn btn-secondary" href="man.html">Read the user manual</a></p>
    </div>
    <div class="col-md-6">
      <h2>Windows version</h2>
<% if (versions.hasWindows(current)) { %>
      <p>&raquo; Released on <%= moment(versions.info[current].release.windows).format('DD MMM YYYY') %></p>
      <p>&raquo; Download the <a href="<%= versions.info[current].downloads.windowsSrc %>">Windows source code</a></p>
<% if (versions.info[current].downloads.windowsStandalone) { %>
      <p>&raquo; Download a <a href="<%= versions.info[current].downloads.windowsStandalone %>">standalone version</a></p>
<% } %>
      <p><a class="btn btn-secondary" href="windows.html">Read tips for the Windows version</a></p>
<% } else { %>
<%    const nextVersion = versions.newerWindows(current); %>
<%    if (nextVersion) { %>
      <p>There was no Windows release for this version. The next newest version with a windows release is <a href="/<%= nextVersion %>/"><%= nextVersion %></a>.</p>
<%    } else { %>
      <p>No Windows release has been made for this version... yet. <i>Stay tuned!</i></p>
<%    } %>
<% } %>
    </div>
  </div>
</div>

<hr>

<div class="container">
<h2>Release Notes</h2>
<%- content %>
</div>

<%- include('./footer.ejs') -%>
